#pragma GCC optimize ("O3")
#pragma GCC target ("sse4")

#include <bits/stdc++.h>
%Code%

int main() {
    std::ios::sync_with_stdio(false);
	%ClassName% solver;
	%Input%
	%Output%
	%SolverCall%
	return 0;
}
